*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box; }
.icon {
    
    vertical-align: -0.15em;
    overflow: hidden;
 }
 @keyframes circle{
     0%{transform: rotate(0deg);}
     100%{transform: rotate(360deg);}
 }
 .page{display: flex; flex-direction: column; height: 100vh; width: 100vw;
	background: transparent url(http://p3.music.126.net/z4p2xss2a50qNHe6TLFdoA==/2425522650910827.jpg) no-repeat center;
    background-size: cover; 
    border: 1px solid red;
}
 .disc-container{
     position: relative;
 }
 .disc-container .icon-wrapper{
     position: absolute;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20vw;
     height: 20vw;
     border-radius: 50%;
     background: rgb(0,0,0,0.1);
 }
 .disc-container .icon {
     width: 10vw; 
     fill: white;
}
 .disc-container .pointer{
     width: 24vw;
     position: absolute;
     left: 45vw;
     z-index: 1;
 }
 .disc-container .disc{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 18vw;
 }
 .disc-container .ring{
     width: 72vw;
 }
 .disc-container .light{
    width: 72vw;
    position: absolute;
}
.disc-container .cover{
    width: 44.5vw;
    position: absolute;
    border-radius: 50%;
    animation: circle 20s linear infinite;
    animation-play-state: paused;
}
.disc-container.playing .light,
.disc-container.playing .cover{
  animation-play-state: running;
}

.disc-container .icon-pause{display: none; }
.disc-container.playing .icon-pause{display: block; }
.disc-container.playing .icon-play{display: none; }


/*song-description*/
.song-description{
    flex-grow: 1;
    color: #aeabac;
    text-align: center;
    line-height: 2;
    margin-top: 3vh;
}
.song-description h1{
	color: white;
	font-size: 18px;
}
.song-description .lyric{
    height: 72px;
    overflow: hidden;

}
.page .links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d43b32;
    bottom: 0;
    padding-top: 20vh;
}
.page .links > a{
    text-decoration: none;
    width: 38.5vw;
    margin: 1em;
    text-align: center;
    border: 1px solid #d43b32;
    background: transparent;
    padding: 1.5vw;
    color: inherit;
    border-radius: 1.3vw;
    letter-spacing: 1vw;
}
.page  .links > a.main{
	background: #D43B32;
	color: white;
}	